{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe
{% endblock %}

{% block body %}
	<div class="card card-fill">
		<div class="card-body">
			<div class="my-8 mx-auto" style="width: 480px;">
				<h1 class="text-center mb-4 fs-4">Réinitialisation du mot de passe</h1>
				{{ form_errors(passForm) }}
				{{ form_start(passForm) }}
				<div class="row">
					<div class="col-12">
						{{ form_row(passForm.plainPassword) }}
					</div>
				</div>
				<button type="submit" class="btn btn-md btn-dark">
					<span>Réinitialiser le mot de passe</span>
				</button>
				{{ form_end(passForm) }}
			</div>
		</div>
	</div>
{% endblock %}
