<h1>Demande de réinitialisation de mot de passe</h1>
<p>Bonjour {{ user.firstname }} {{ user.lastname }},</p>
<p>Pour votre demande de réinitialisation de mot de passe, veuillez cliquer sur le lien suivant : <a href="{{ url|raw }}">{{ url|raw }}</a></p>
<p>Ce lien expirera dans 3 heures</p>